[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/tynes/go-ethereum.git
	branch = eip1153
[submodule "solidity"]
	path = solidity
	url = https://github.com/tynes/solidity.git
	branch = transient-keyword
